html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.App.left-sidebar-closed {
  grid-template-columns: 0 2fr !important;
}

.left-panel {
  background-color: #efefef;
  overflow-y: hidden;
  position: relative;
}

.left-panel::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4rem;
  z-index: 2;
  pointer-events: none;
  width: 100%;
  backdrop-filter: blur(5px);
}

.filter-checkbox-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  display: flex;
  align-items: center;
  color: #333;
}

.filter-checkbox-container input {
  margin-right: 0.5rem;
}

.right-panel {
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
  box-shadow: -5px 0 10px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}

.App.left-sidebar-closed .right-panel {
  display: block;
  height: 100%;
}

.query-input {
  background: #efefef;
  padding: 1rem 1rem 0 1rem;
}

.App.left-sidebar-closed .query-input {
  position: absolute;
  height: 16rem;
  width: 39rem;
  z-index: 10000;
  right: 0;
  background-color: rgba(0, 0, 0, 0);
}

.graph-visualization {
  background-color: #1e1e1e;
  overflow: auto;
}

.left-panel.closed {
  width: 0;
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(135deg, #ff5757, #8c52ff);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.App .right-panel .toggle-button {
  display: none;
}

.App.left-sidebar-closed .right-panel .toggle-button {
  display: block;
}

/* Custom checkbox styles */
.custom-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.custom-checkbox.small {
  font-size: 12px;
  padding-left: 24px;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 4px;
}

.custom-checkbox.small .checkmark {
  height: 16px;
  width: 16px;
  top: 0;
}

.custom-checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #f35669;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 7px;
  top: 3px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox.small .checkmark:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
}

.filter-options-container {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.format-selector {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 3;
}

.custom-radio {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio-mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

.custom-radio:hover input ~ .radio-mark {
  background-color: #ccc;
}

.custom-radio input:checked ~ .radio-mark {
  background-color: #f35669;
}

.radio-mark:after {
  content: "";
  position: absolute;
  display: none;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.custom-radio input:checked ~ .radio-mark:after {
  display: block;
}

.panel-close-button {
  left: auto;
  right: 1rem;
}
