html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.left-panel {
  background-color: #efefef;
  overflow-y: hidden;
  position: relative;
}

.left-panel::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(to left, rgba(0,0,0,0.1), transparent);
  pointer-events: none;
}

.right-panel {
  display: grid;
  grid-template-rows: 1fr 2fr;
  overflow: hidden;
  box-shadow: -5px 0 10px rgba(0,0,0,0.1);
  position: relative;
  z-index: 1;
}

.query-input {
  background: #efefef;
  padding: 1rem 1rem 0 1rem;
}

.graph-visualization {
  background-color: #1e1e1e;
  overflow: auto;
}