.query-input-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.query-editor {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  background-color: #1e1e1e;
}

.query-textarea,
.query-editor pre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
}

.query-textarea {
  color: transparent;
  background: transparent;
  caret-color: #fff;
  resize: none;
  border: none;
  outline: none;
  z-index: 1;
}

.query-editor pre {
  pointer-events: none;
  z-index: 0;
  background-color: transparent;
  color: #e0e0e0;
  transition: background-color 0.6s ease-in-out;
}

.App.left-sidebar-closed .query-editor {
  background-color: rgba(30, 30, 30, 0.6)
}

.query-editor pre code {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.submit-button {
  padding: 0.5rem;
  background: linear-gradient(135deg, #ff5757, #8c52ff);
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  z-index: 10000;
}

.submit-button:hover {
  background: linear-gradient(135deg, #ff7a7a, #a375ff);
}

.submit-button:disabled {
  background: #4a4a4a;
  cursor: not-allowed;
}

.suggestions {
  position: absolute;
  background-color: #2a2a2a;
  border: 1px solid #444;
  max-height: 200px;
  overflow-y: auto;
  z-index: 99999999;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
  
.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #e0e0e0;
  transition: background-color 0.2s, color 0.2s;
}
  
.suggestion-item:hover {
  background-color: #3a3a3a;
  color: #ffffff;
}